[build]
base = "web"
publish = "dist"
functions = "netlify/functions"

[dev]
command = "npm run dev:client"
targetPort = 5174
publish = "public"

[[redirects]]
from = "/@vite/*"
to = "/@vite/:splat"
status = 200

[[redirects]]
from = "/@react-refresh"
to = "/@react-refresh"
status = 200

[[redirects]]
from = "/@id/*"
to = "/@id/:splat"
status = 200

[[redirects]]
from = "/@fs/*"
to = "/@fs/:splat"
status = 200

[[redirects]]
from = "/src/*"
to = "/src/:splat"
status = 200

[[redirects]]
from = "/node_modules/*"
to = "/node_modules/:splat"
status = 200
